*
{
    margin: 0px;
    padding: 0px;

    font-family: Cambria, serif;
}



#signature
{
    width: 500px;
}



#closing_line
{
    padding-left: 20px;
    padding-top: 10px;

    text-align: left;
    font-size: 18px;
    font-weight: normal;
}



#profile_picture_cell
{
    padding-top: 30px;

    vertical-align: top;
    width: 170px;
}



#profile_picture
{
    padding-left: 20px;
    padding-right: 20px;

    width: 100px;
}



#information_cell
{
    padding-top: 30px;
    padding-bottom: 30px;
}



#name
{
    font-size: 20px;
    letter-spacing: 1px;
}



#position
{
    font-size: 18px;
    font-weight: normal;
}



#institution
{
    padding-bottom: 20px;

    font-size: 16px;
    font-weight: normal;
}



#email_address_text, #telephone_number_text, #location_text, #website_text
{
    font-weight: bold;
    margin-right: 10px;
}



#email_address, #telephone_number, #location, #website
{
    font-size: 16px;
    line-height: 20px;
}



#social_media
{
    padding-left: 20px;
}



.social_media_button
{
    width: 22px;
}



#quote
{
    padding-left: 20px;

    font-size: 18px;
}