*
{
    --link_color: #000000;
    --link_hover_color: #be0032;

    margin: 0px;
    padding: 0px;

    font-family: Cambria, serif;
}



#signature
{
    width: 514px;
}



#closing_line
{
    padding-top: 30px;

    text-align: left;
    font-size: 18px;
    font-weight: normal;
}



#profile_picture_cell
{
    padding-top: 20px;

    vertical-align: top;
    width: 130px;
}



#profile_picture
{
    padding-right: 20px;

    width: 100px;
}



#social_media
{
    padding-top: 10px;
    padding-bottom: 20px;

    width: 100px;

    text-align: center;
    vertical-align: middle;
}



.social_media_button
{
    width: 20px;

    padding: 2px;
    padding-top: 5px;
}



#information_cell
{
    padding-top: 20px;
    padding-bottom: 20px;
}



#name
{
    font-size: 20px;
    letter-spacing: 1px;
}



#position
{
    font-size: 18px;
    font-weight: normal;
}



#institution
{
    padding-bottom: 20px;

    font-size: 16px;
    font-weight: normal;
}



#email_address_text, #telephone_number_text, #location_text, #website_text
{
    font-weight: bold;
    margin-right: 10px;
}



#email_address, #telephone_number, #location, #website
{
    font-size: 16px;
    line-height: 22px;
}



#quote
{
    font-size: 18px;
}



a:link
{
    color: var(--link_color);
    text-decoration: none;
}



a:visited
{
    color: var(--link_color);
}



a:hover
{
    color: var(--link_hover_color);
}



a:active
{
    color: var(--link_color);
}